.digital {
    font-family: var(--font-digital);
    font-size: 2.5rem;
    color: var(--color-1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.158);
}

.titulos {
    font-family: var(--font-digital);
    font-size: 1.3rem;
    color: #3A5A87;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.041);
    padding-bottom: 8px;
}

.faixa {
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.616);
    width: 100%;
    margin-bottom: 5px;
}

.faixa-1 {
    background-color: white;
    display: flex;
    color: black;
    
    width: 100%;
    margin-bottom: 5px;
}

.faixa-2 {
    background-color: #875574;
    display: flex;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.616);
}

.caixa {
    
    color: black;
    background-color: white;

    padding: 5px;
    border-radius: 4px;
    
}

.caixa:hover {
    color: white;
    text-align: center;
    background-color: rgb(54, 52, 52);
    font-weight: 500;
}



#dataHora {
    font-family: var(--font-digital);
    color: rgb(8, 155, 8);
    font-size: 1em;
    font-weight: 600;
    
   
}

#centro-1 {
  display: flex;
  justify-content: flex-end;
  
}

#centro-2 {
  
  margin: auto;
  
}
  
.letras {
    flex-basis: calc(100% - 36px); /* Ajuste o valor da margem direita da imagem */

}

.container {
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

a, li {
  color: white;
}

.button-list {
  display: flow-root;
  flex-direction: column;
  columns: 3;
  justify-content: space-evenly;
  height: 50%;
}

.button-list li {
  list-style: none;
  width: 80px;
  padding: 10px;
  background-color: #5295ee;
  border-radius: 10px 10px 10px 0px;
  text-align: center;
  font-size: 1em;
  margin: 5px;
  
}

.button-list li:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}



.imagem {
  margin: auto;
  
    /*float: left;  /ou float: right;/ 
    margin-right: 36px;  /ou margin-left: 10px;/ 
    margin-bottom: 15px;
    margin-top: 5px; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.616);
}

@media (min-width: 1000px) {
  .imagem {
    width: 900px;
    margin: auto;
    
  }
}

@media (max-width: 1000px) {
  .imagem {
    width: 600px;
    margin: auto;
    
  }
}

@media (max-width: 670px) {
  .imagem {
    width: 500px;
    margin: auto;
    
  }
}


@media (max-width: 558px) {
  .imagem {
    width: 300px;
    margin: auto;
    
  }
}

@media (max-width: 390px) {
  .imagem {
    width: 250px;
    margin: auto;
    
  }
}