@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-princial: #000000;
    --cor-conjugPrincipal: #f8f8f8;
    
    --cor-primaria: #F51015;
    --cor-conjugPrimaria: #400203;
    
    --cor-secundaria: #057322;
    --cor-conjugSecundaria: #7D7D7D;

    --cor-terciaria: #303632;

    --font-primaria: 'Inter', sans-serif;
    --12px: 0.75rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
    --29px: 1.8rem;
    --32px: 2rem;
    --40px: 2.5rem;
    --45px: 2.8rem;
    --54px: 3.37rem;
    --60px: 3.75rem;
    --90px: 5.62rem;
    --400px: 24.93rem;
}

html {
    background-color: var(--cor-princial);
}



.destaque {
    color: var(--cor-primaria);
    
}

.destaque__fino {
    color: var(--cor-primaria);
    font-weight: 300;
}

.cabeca {
    display: flex;
    padding: var(--29px) var(--24px);
    font-weight: 600;
}

.cabeca a{
    color: #f8f8f8;
    font-family: var(--font-primaria);
    font-size: 1.25rem;
    
}

.cabeca__navegacao {
    display: flex;
    gap: var(--24px);
}

.comeco {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.apresentacao{
    display: flex;
    flex-direction: column;
    margin-top: var(--90px);
    gap: var(--40px);
    color: var(--cor-conjugPrincipal);
    font-family: var(--font-primaria);

}

.apresentacao h1 {
    font-size: var(--40px);
    color: var(--cor-primaria);
    font-weight: 200;
    line-height: var(--40px);
    letter-spacing: 0.415em;
    text-align: center;


}

.apresentacao h2 {
    font-family: Inter;
    font-size: var(--32px);
    font-weight: 500;
    line-height: var(--40px);
    letter-spacing: 0.255em;
    text-align: center;

}

.apresentacao h3 {
    font-size: var(--20px);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.255em;
    text-align: center;

}

.login {
    display: flex;
    flex-direction: column;
    padding-left: var(--45px);
   
    background-color: var(--cor-conjugPrincipal);
    border-radius: 3px;
    box-shadow: 2px 1px 1px 4px #400203CC;
    
    font-family: var(--font-primaria);
    
    margin-bottom: var(--60px);
    width: 30.62rem;
    height: 30.5rem;
    margin-top: var(--54px);
    
    
}

.login__apresentacao{
    padding: var(--29px);
}

.login__apresentacao h2, h4 {
    
    text-align: center;
    font-size: var(--24px);
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: var(--24px);
    
}

.login__apresentacao h1 {
    text-align: center;
    font-weight: 300;
    
    font-size: var(--24px);
    letter-spacing: var(--20px);
    padding: 5px;
    color: var(--cor-primaria);
}

.login__dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-family: var(--font-primaria);

    width: var(--400px);
}

.login__dados label {
    padding-bottom: 14px;

    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
}

.login__dados input {
    border: 1px;
    box-sizing: none;
    outline: none;
    background-color: var(--cor-terciaria);
    width: 100%;
    padding: 15px;
    color: wheat;
}

.login__dados a {
    padding-top: var(--54px);
    color: #1E1E1E;
    font-weight: 500;
    
    letter-spacing: 2px;
    font-size: var(--12px);
}

.nome::placeholder, .senha::placeholder {
    color: var(--cor-conjugPrincipal);
    font-weight: 100;
    font-family: var(--font-primaria); 
  }

.senha {
    padding-top: var(--45px);
  }

.layout{
    position: relative;
    bottom: 1px;
    
}

.layout img {
    height: 24rem;
}