
html {
    background-color: var(--cor-princial);
}

.destaque {
    color: var(--cor-primaria);
    
}

.destaque__fino {
    color: var(--cor-primaria);
    font-weight: 300;
}

.cabeca {
    display: flex;
    padding: var(--29px) var(--24px) 0 ;
    font-weight: 600;
}

.cabeca a{
    color: #f8f8f8;
    font-family: var(--font-primaria);
    font-size: 1.25rem;
    
}

.cabeca__navegacao {
    display: flex;
    gap: var(--24px);
}

.comeco {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.apresentacao{
    display: flex;
    flex-direction: column;
    margin-top: var(--90px);
    gap: var(--40px);
    color: var(--cor-conjugPrincipal);
    font-family: var(--font-primaria);

}

.apresentacao h1 {
    font-size: var(--40px);
    color: var(--cor-primaria);
    font-weight: 200;
    line-height: var(--40px);
    letter-spacing: 0.415em;
    text-align: center;

}

.apresentacao h2 {
    font-family: Inter;
    font-size: var(--32px);
    font-weight: 500;
    line-height: var(--40px);
    letter-spacing: 0.255em;
    text-align: center;

}

.apresentacao h3 {
    font-size: var(--20px);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.255em;
    text-align: center;

}

.login {
    display: flex;
    flex-direction: column;
    padding: 30px 0 51px 4px;
    Offset: 2px, 1px;
   
    background-color: var(--cor-conjugPrincipal);
    border-radius: 3px;
    box-shadow: 2px 1px 1px 4px #400203CC;
    
    font-family: var(--font-primaria);
    
    margin-bottom: var(--60px);
    margin-top: var(--54px);
    width: 80vw;
    
}

@media (min-width: 1000px){
    .login{
        width: 650px;
    }
    
}

.login__apresentacao{
    display: flex;
    flex-direction: column;
    
}

.login__apresentacao h1, h2, h4 {
    margin: auto;
    font-size: var(--24px);
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: var(--24px);
    
}

.login__apresentacao h1 {
    font-weight: 200;
    letter-spacing: var(--12px);
    
    color: var(--cor-primaria);
}

.login__dados {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    justify-content: center;
    font-family: var(--font-primaria);
   
}

.login__dados label {
    padding-bottom: 14px;

    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
}

.login__dados input {
    border: 1px;
    box-sizing: none;
    outline: none;
    background-color: var(--cor-terciaria);
    width: 100%;
    padding: 15px;
    
}

.login__dados:hover input {
    color: var(--cor-primaria);
    background-color:var(--cor-princial);
}

.login__dados a {
    padding-top: var(--54px);
    color: #1E1E1E;
    font-weight: 500;
    
    letter-spacing: 2px;
    font-size: var(--12px);
}

.login__dados:active a {
    color: var(--cor-conjugPrimaria);
}

.login__dados button {
    background-color: var(--cor-secundaria) ;
    color: var(--cor-conjugPrincipal);
    font-weight: 400;
    font-family: var(--font-primaria);
    margin-top: 15px;
    outline-offset: 0;
    border: 0;
    border-radius: 2px;
    width: 90px;
   
    padding: 8px 15px;
}

.nome::placeholder, .senha::placeholder {
    color: var(--cor-conjugPrincipal);
    font-weight: 100;
    font-family: var(--font-primaria); 
  }

 button:active {
    background-color: var(--cor-conjugPrimaria);
    
}

.senha{
    padding-top: var(--45px);

  }

.layout{
    position: relative;
    bottom: 1px;
    
}

.layout img {
    height: 24rem;
}