
html {
    background-color: var(--cor-princial);
}

.destaque {
    color: var(--cor-primaria);
    
}

.destaque__fino {
    color: var(--cor-primaria);
    font-weight: 300;
}

.cabeca {
    display: flex;
    padding: var(--29px) var(--24px) 0 ;
    font-weight: 600;
}

.cabeca a{
    color: #f8f8f8;
    font-family: var(--font-primaria);
    font-size: 1.25rem;
    
}

.cabeca__navegacao {
    display: flex;
    gap: var(--24px);
}

.comeco {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.apresentacao{
    display: flex;
    flex-direction: column;
    margin-top: var(--90px);
    gap: var(--40px);
    color: var(--cor-conjugPrincipal);
    font-family: var(--font-primaria);

}

.apresentacao h1 {
    font-size: var(--40px);
    color: var(--cor-primaria);
    font-weight: 200;
    line-height: var(--40px);
    letter-spacing: 0.415em;
    text-align: center;
    
}

.apresentacao h2 {
    font-family: Inter;
    font-size: var(--32px);
    font-weight: 500;
    line-height: var(--40px);
    letter-spacing: 0.255em;
    text-align: center;

}

.apresentacao h3 {
    font-size: var(--20px);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.255em;
    text-align: center;

}

.apresentacao h1, h2, h3 {
    text-shadow: 1px 2px 10px #f8f8f82e;
}

@keyframes girar {
    0% {
      transform: rotate(0deg); /* Rotação inicial da imagem */
    }
    100% {
      transform: rotate(360deg); /* Rotação completa da imagem */
    }
  }

.login {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    padding: 30px 0 8px 4px;
    Offset: 2px, 1px;
   
    background-color: var(--cor-conjugPrimaria);
    border-radius: 3px;
    box-shadow: 2px 1px 24px  #ffffff10;
    
    font-family: var(--font-primaria);
    
    margin-bottom: var(--60px);
    margin-top: var(--54px);
    width: 80vw;
    
}

.login__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.login__background img {
    width: 250px;
    height: 250px;
    opacity: 0.6;
    object-fit: cover;
    animation:  girar 50s infinite linear; 
  }

@media (min-width: 1000px){
    .login{
        width: 650px;
    }
    
}

.login__apresentacao{
    display: flex;
    flex-direction: column;
    height: 125px;
    
}

.login__apresentacao h1, h2, h4 {
    margin: auto;
    color: var(--cor-conjugPrincipal);
    font-size: var(--24px);
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: var(--40px);
    text-shadow: 1px 2px 10px #f8f8f82e;
    
}

.login__apresentacao h1 {
    font-weight: 200;
    letter-spacing: var(--12px);
    
    color: var(--cor-secundaria);
}

.login__dados {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    justify-content: center;
    font-family: var(--font-principal);
   
}

.login__dados label {
    padding-bottom: 14px;
    color: var(--cor-conjugPrincipal);
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
}

.login__dados input {
    border: 1px;
    box-sizing: none;
    outline: none;
    background-color:var(--cor-princial);
    width: 100%;
    padding: 15px;
    
}

.login__dados:hover input {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

.login__dados a {
    margin-top: var(--54px);
    color: var(--cor-conjugPrincipal);
    font-weight: 500;
    display: inline-block;
    letter-spacing: 2px;
    width: 128px;
    font-size: var(--12px);
}

.login__dados:active a {
    color: var(--cor-conjugPrimaria);
    display: inline;
}

.login__dados button {
    background-color: var(--cor-secundaria) ;
    color: var(--cor-conjugPrincipal);
    font-weight: 400;
    font-family: var(--font-primaria);
    margin-top: 15px;
    outline-offset: 0;
    border: 0;
    border-radius: 2px;
    width: 90px;
    cursor: pointer;
    padding: 8px 15px;
}

.nome::placeholder, .senha::placeholder {
    color: var(--cor-conjugPrincipal);
    font-weight: 100;
    font-family: var(--font-primaria); 
  }

 button:active {
    background-color: var(--cor-terciaria);
    
}

.senha{
    padding-top: var(--45px);

  }

.layout{
    position: relative;
    bottom: 35px;
    
}

.layout img {
    height: 24rem;
}